@import url("http://fonts.googleapis.com/css?family=Oswald:400,700,300");
@import url("http://fonts.googleapis.com/css?family=Roboto:300,300italic,40");
* {
  margin: 0;
  padding: 0;
  outline: none;
}
body {
  line-height: 22px;
  font-size: 14px;
  color: #545454;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  overflow-x: hidden;
}
h1,
h3 {
  color: #000;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
}
a {
  text-decoration: none;
  color: #545454;
}
textarea {
  resize: none;
}
h1 {
  padding: 0;
  margin: 0;
}
ul {
  list-style: none;
}
.cabecera {
  width: 200px;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: #000;
  z-index: 999;
}
.logo {
  padding: 30px 20px 10px 20px;
}
.logo>div {
  height: 140px;
  width: 100%;
  background-color: #fc0;
}
.nombre-persona > span {
  text-transform: uppercase;
  font-size: 25px;
  line-height: 30px;
  display: block;
  padding: 40px 13px;
  text-align: center;
  color: #000;
}
.ct-menu ul>li {
  color: #fff;
  padding-left: 20px;
  padding-right: 20px;
}
.ct-menu .menu-principal>li a {
  display: block;
  padding: 15px 0;
  border-bottom: 1px solid #333;
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
}
.menu-principal>li a:hover {
  color: #ffb400;
}
.menu-principal>li a.active {
  color: #ffb400 !important;
}
.contenedor-parent {
  position: absolute;
  left: 200px;
  right: 0px;
  height: 100%;
}
.contenedor-principal {
  position: relative;
}
.contenedor-principal:after {
  display: table;
  content: "";
  clear: both;
}
.contenedor-principal>article {
  float: left;
}
.contenedor-principal>article:nth-child(odd) {
  background-color: #f7f7f7;
}
.descripciones {
  position: relative;
  width: 804px;
  min-height: 500px;
  overflow-y: auto;
}
article > div {
  padding: 70px;
}
article > div > div {
  margin-bottom: 40px;
}
.titulo-principal h1 {
  line-height: normal;
  padding: 0px 0px 20px 0;
  font-size: 40px;
  text-transform: uppercase;
}
.titulo-principal .linea-abajo {
  height: 5px;
  width: 80px;
  background-color: #ffb400;
}
.tabla-informacion .row {
  padding: 13px 0;
  border-bottom: 1px solid #dfdfdf;
}
.contendedor-descripcion h3 {
  text-transform: uppercase;
  margin-bottom: 15px;
  font-size: 16px;
}
.boton-descarga-cv {
  border: 2px solid #ffb400;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: normal;
  padding: 10px 15px;
  background-color: #fff;
  color: #000;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
}
.boton-descarga-cv:hover {
  color: #fff;
  background-color: #ffb400;
}
.b-t {
  border-top: 1px solid #dfdfdf;
  padding-top: 50px;
}
.fila-principal:after {
  display: table;
  content: "";
  clear: both;
}
.fila-principal>div {
  float: left;
  width: 100%;
  margin-bottom: 40px;
}
.fila-principal-1 > div {
  width: 50% !important;
}
.fila-principal__izquierda>div {
  float: left;
}
.fila-principal__izquierda>div:nth-child(1) {
  width: 30%;
  color: #ffb400;
}
.fila-principal__izquierda>div:nth-child(1):hover {
  color: #000;
}
.fila-principal__izquierda>div:nth-child(1) i {
  font-size: 90px;
}
.fila-principal__izquierda>div:nth-child(2) {
  width: 70%;
}
.fila-principal__izquierda:after {
  display: table;
  content: '';
  clear: both;
}
.fila-secundaria {
  border-top: 1px solid #dfdfdf;
  padding: 40px 0px;
  margin-bottom: 0px !important;
}
.fila-secundaria>div {
  margin-bottom: 0px !important;
}
.descripcion-experiencia {
  font-family: 'Oswald';
}
.descripcion-experiencia>h4 {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 500;
  color: #000;
  margin-bottom: 15px;
}
.descripcion-experiencia>h3 {
  font-size: 28px;
  text-transform: uppercase;
  font-weight: 100;
  margin-bottom: 5px;
}
.descripcion-experiencia>h5 {
  font-size: 18px;
  font-weight: 100;
  color: #000;
}
.columna:after {
  display: table;
  content: "";
  clear: both;
}
.columna>div {
  float: left;
  box-sizing: border-box;
  width: 50%;
}
.circulo {
  height: 178px;
  margin: 0 auto;
  border-radius: 50%;
  width: 55%;
  border: 5px solid #8f8f8f;
  background-color: #fff;
}
.circulo > p {
  font-size: 60px;
  text-align: center;
  margin-top: 73px;
  color: #ffb400;
}
.circulo > p:hover {
  font-weight: bold;
  color: #000;
}
.descripcion-circulo {
  margin-top: 50px;
}
.descripcion-circulo .titulo-circulo h1 {
  font-weight: 300;
  text-transform: uppercase;
  line-height: 30px;
  font-size: 25px;
}
.descripcion-circulo>div {
  margin-bottom: 10px;
}
.w-100 {
  width: 100% !important;
}
.lista-conocimientos {
  margin-top: 30px;
  width: tamanio;
}
.lista-conocimientos>ul:after {
  display: table;
  content: "";
  clear: both;
}
.lista-conocimientos>ul>li {
  float: left;
  width: 33.333333333333336%;
}
.lista-conocimientos-1 {
  padding-left: 10px;
}
.lista-conocimientos-1 > ul > li {
  display: block;
  margin-bottom: 10px;
}
.descripcion-contacto>h4 {
  font-size: 15px;
}
.contact-icon-40 {
  font-size: 40px;
}
.contact-icon-50 {
  font-size: 50px;
}
.first-h4 {
  font-weight: bold;
  text-transform: uppercase;
  color: #000;
}
.columna-contacto>div {
  margin-bottom: 20px;
}
.columna-contacto i {
  color: #ffb400;
}
.columna-contacto i:hover {
  color: #000;
}
.contenedor-social:after {
  display: table;
  content: '';
  clear: both;
}
.contenedor-social>div {
  float: left;
  width: 50px;
  font-size: 28px;
}
.contenedor-social>div a:hover {
  color: #000;
}
.form-contacto>input,
.form-contacto>textarea {
  display: block;
  width: 100%;
  padding: 12px;
  font-size: 15px;
  margin-bottom: 20px;
  border: 1px solid #dfdfdf;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.form-contacto>input:focus,
.form-contacto>textarea:focus {
  border: 1px solid #ffb400;
}
h1.titulo-contacto {
  font-size: 30px;
  margin-bottom: 40px;
  text-transform: uppercase;
}
.slider-main {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0px;
  z-index: 100;
}
.slider-main:after {
  display: table;
  content: '';
  clear: both;
}
.slider-main>div.item {
  float: left;
}
.contenedor-navegador {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 10%;
  z-index: 101;
}
.contenedor-navegador .nav-slider {
  margin: 0 auto;
  padding: 10px;
}
.nav-slider>div {
  display: inline-block;
  width: 15px;
  height: 15px;
  border: 1px solid #fff;
  background-color: transparent;
  margin-bottom: -6px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  border-radius: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  cursor: pointer;
}
.nav-slider>div:hover {
  background-color: #fff;
}
.nav-slider>div.active {
  background-color: #fff;
}
.bg-image {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.bg-image-1 {
  background-image: url("../images/bg_1.jpg");
}
.bg-image-2 {
  background-image: url("../images/bg_2.jpg");
}
.bg-image-3 {
  background-image: url("../images/bg_3.jpg");
}
.bg-image-4 {
  background-image: url("../images/bg_4.jpg");
}
.grid:after {
  display: table;
  content: '';
  clear: both;
}
.grid>div {
  float: left;
}
.columna-1 {
  width: 10% !important;
  min-height: 1px;
}
.columna-2 {
  width: 20% !important;
  min-height: 1px;
}
.columna-3 {
  width: 30% !important;
  min-height: 1px;
}
.columna-4 {
  width: 40% !important;
  min-height: 1px;
}
.columna-5 {
  width: 50% !important;
  min-height: 1px;
}
.columna-6 {
  width: 60% !important;
  min-height: 1px;
}
.columna-7 {
  width: 70% !important;
  min-height: 1px;
}
.columna-8 {
  width: 80% !important;
  min-height: 1px;
}
.columna-9 {
  width: 90% !important;
  min-height: 1px;
}
.columna-10 {
  width: 100% !important;
  min-height: 1px;
}
.m-b-20 {
  margin-bottom: 20px;
}
.m-b-30 {
  margin-bottom: 30px;
}
.m-r-5 {
  margin-right: 5px;
}
.pos-rel {
  position: relative;
}
.no-padding {
  padding: 0px !important;
}
.no-margin {
  margin: 0px !important;
}
.no-overflow {
  overflow: hidden;
}
